.container {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 4px;
    margin-top: 32px;
    margin-left: 32px;
    width: 912px;
}

.item {
    display: flex;
    flex-direction: row;
    width: Fixed (912px);
    height: Hug (48px);
    margin-left: 32px;
    border-radius: 16px;
    background: linear-gradient(0deg, #030919, #030919),
        linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.16),
            rgba(255, 255, 255, 0.16)
        );
    background-blend-mode: overlay;
    height: 48px;
    border-radius: 16px;
    align-content: center;
    align-items: center;
}

.ind {
    width: 352px;
    padding: 16px;
    gap: 8px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}

.npos {
    width: Fixed (140px);
    padding: 16px;
    gap: 8px;
    font-size: 13px;
    line-height: 13px;
}

.radio-button {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-top: -3px;
    margin-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.radio-button:checked {
    border: 2px solid rgba(141, 202, 254, 0.9);
}

.radio-button:checked::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(141, 202, 254, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
