.titleandtabs {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-left: 32px;
    gap: 40px;
    align-items: center;
    padding-right: 32px;
    width: Hug (355px);
    height: Fixed (48px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    padding-bottom: 16px;
    position: relative;
}
