.titleandtabs {
    display: flex;
    flex-direction: row;
    width: Fixed (1, 320px);
    height: Hug (48px);
    margin-top: 24px;
    margin-left: 32px;
    gap: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    align-items: center;
}
