.notification-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: fixed;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
}

.top-left {
}

.top-right {
    right: 0;
}

.bottom-left {
    bottom: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}
