.tab-container {
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 24px;
    padding-top: 6px;
    gap: 24px;
    user-select: none;
}

.tab {
    height: 24px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}

.selected {
    border-bottom: 2px solid rgba(141, 202, 254, 1);
    color: rgba(141, 202, 254, 1);
    z-index: 1;
    position: relative;
    margin-bottom: -18px;
}
